.git
.gitignore
*.bak
*.old
*.orig
*.tmp
*.log
.continue
addons/*
advanced/*
autoinstall/*
cloud/*
examples/*
network/*
multus/*
hosts/*
images/*
pxe/*
scripts/*
env/*
build/*
.project
*.md
*.tgz
.helmignore
.terraform
terra*
wg/*
