# Alpine-Netboot-Dateien in der Basis werden aktuell für x86_64 bereitgestellt.
if [ "${grub_cpu}" = "x86_64" ]; then
    menuentry "Alpine Linux (RAM, keine Installation)" {
        linux /linux/alpine/vmlinuz-lts \
            console=tty0 \
            nomodeset \
            ip=dhcp \
            modules=loop,squashfs,sd-mod,usb-storage \
            alpine_repo=https://dl-cdn.alpinelinux.org/alpine/v${alpine_version}/main \
            modloop=http://${pxe_server}/linux/alpine/modloop-lts
        initrd /linux/alpine/initramfs-lts
    }

    menuentry "BusyBox Shell (Alpine initramfs, keine Installation)" {
        linux /linux/alpine/vmlinuz-lts \
            console=tty0 \
            nomodeset \
            ip=dhcp \
            single \
            modules=loop,squashfs,sd-mod,usb-storage \
            alpine_repo=https://dl-cdn.alpinelinux.org/alpine/v${alpine_version}/main \
            modloop=http://${pxe_server}/linux/alpine/modloop-lts
        initrd /linux/alpine/initramfs-lts
    }
fi
