set timeout=-1

loadfont unicode

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

menuentry "Install Ubuntu (manuell)" {
    set gfxpayload=keep
    linux /casper/vmlinuz ---
    initrd /casper/initrd
}

menuentry "Install Ubuntu Server" {
  set gfxpayload=keep
  linux   /casper/vmlinuz autoinstall ds=nocloud\;s=/cdrom/nocloud.min/ ---
  initrd  /casper/initrd
}

menuentry "Install Ubuntu (KV Control)" {
	set gfxpayload=keep
	linux   /casper/vmlinuz autoinstall ds=nocloud\;s=/cdrom/nocloud.control/ ---
	initrd	/casper/initrd
}

menuentry "Install Ubuntu (KV Control - PXE)" {
  set gfxpayload=keep
  linux   /casper/vmlinuz autoinstall ds=nocloud\;s=/cdrom/nocloud.pxe/ ---
  initrd  /casper/initrd
}

menuentry "Install Ubuntu (KV Control with GUI)" {
	set gfxpayload=keep
	linux   /casper/vmlinuz autoinstall ds=nocloud\;s=/cdrom/nocloud.gui/ ---
	initrd	/casper/initrd
}

menuentry "Install Ubuntu (KV Worker)" {
	set gfxpayload=keep
	linux   /casper/vmlinuz autoinstall ds=nocloud\;s=/cdrom/nocloud.worker/ ---
	initrd	/casper/initrd
}

menuentry "Install Ubuntu (MAAS)" {
  set gfxpayload=keep
  linux   /casper/vmlinuz autoinstall ds=nocloud\;s=/cdrom/nocloud.maas/ ---
  initrd  /casper/initrd
}

menuentry "Debug-Shell (busybox)" {
    set gfxpayload=keep
    linux   /casper/vmlinuz break ---
    initrd  /casper/initrd
}