#cloud-config
users:
  - name: alpine
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    shell: /bin/bash
    lock_passwd: false
    plain_text_passwd: 'insecure'
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDUHol1mBvP5Nwe3Bzbpq4GsHTSw96phXLZ27aPiRdrzhnQ2jMu4kSgv9xFsnpZgBsQa84EhdJQMZz8EOeuhvYuJtmhAVzAvNjjRak+bpxLPdWlox1pLJTuhcIqfTTSfBYJYB68VRAXJ29ocQB7qn7aDj6Cuw3s9IyXoaKhyb4n7I8yI3r0U30NAcMjyvV3LYOXx/JQbX+PjVsJMzp2NlrC7snz8gcSKxUtL/eF0g+WnC75iuhBbKbNPr7QP/ItHaAh9Tv5a3myBLNZQ56SgnSCgmS0EUVeMNsO8XaaKr2H2x5592IIoz7YRyL4wlOmj35bQocwdahdOCFI7nT9fr6f insecure@lerncloud

ssh_pwauth: true
disable_root: false

packages:
  - jq
  - ca-certificates
  - curl
  - git
  - wget
  - openssl
  
runcmd:
  - curl -sfL https://raw.githubusercontent.com/mc-b/lerncloud/main/services.alpine/nfsshare.sh | sh -  
  - curl -sfL https://raw.githubusercontent.com/mc-b/lerncloud/main/services.alpine/vpn.sh | sh -  
  - curl -sfL https://get.k3s.io | sh -
  - sudo ln -sf /usr/local/bin/k3s /usr/local/bin/kubectl
  - curl -fsSL https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | sh - 
