# lernvirt OpenShift compact cluster
OCP_CHANNEL="stable-4.20"
CLUSTER_NAME="ocp"
BASE_DOMAIN="lernvirt.test"
MACHINE_NETWORK_CIDR="192.168.1.0/24"

TERRA1_IP="192.168.1.101"
TERRA2_IP="192.168.1.102"
TERRA3_IP="192.168.1.103"
TERRA4_IP="192.168.1.104"

TERRA2_MAC="80:EE:73:EF:0D:E9"
TERRA3_MAC="80:EE:73:EF:03:B3"
TERRA4_MAC="80:EE:73:EF:01:81"

INSTALL_DISK="/dev/nvme0n1"
CORE_PASSWORD="insecure"

BOOTSTRAP_NAME="ocp-bootstrap"
BOOTSTRAP_MAC="52:54:00:00:01:05"
BOOTSTRAP_IP="192.168.1.105"
BOOTSTRAP_PREFIX="24"
BOOTSTRAP_BRIDGE="br0"
BOOTSTRAP_VCPUS="4"
BOOTSTRAP_RAM_MIB="16384"
BOOTSTRAP_DISK_GIB="100"

# Standardmässig wird die Bootstrap-IP nach bootstrap-complete als Ingress-IP
# wiederverwendet. Der Ingress-HAProxy läuft in einem eigenen Network Namespace,
# damit nginx auf terra1 unverändert Port 80 behalten kann.
INGRESS_IP="192.168.1.105"
INGRESS_PREFIX="24"
INGRESS_BRIDGE="br0"
INGRESS_MAC="52:54:00:00:01:05"

OCP_DIR="/opt/openshift"
PULL_SECRET_FILE="/etc/lernvirt/pull-secret.json"
SSH_KEY_FILE="/etc/lernvirt/lerncloud.pub"
