# PXE-ASSET: openshift

# Ohne Variant werden physische OpenShift-Nodes als Control Plane installiert.
if [ -z "${variant}" ]; then
    set variant="master"
fi

menuentry "Install OpenShift / RHCOS - ${variant}" {
    linux /linux/openshift/kernel \
        ip=dhcp \
        rd.neednet=1 \
        coreos.live.rootfs_url=http://${pxe_server}:${http_port}/linux/openshift/rootfs.img \
        coreos.inst.install_dev=${install_disk} \
        coreos.inst.ignition_url=http://${pxe_server}:${http_port}/openshift/${variant}.ign
    initrd /linux/openshift/initramfs.img
}
