# PXE-ASSET: ubuntu
# Reset ist absichtlich nur ein Stack:
# Ubuntu neu installieren und user-data-reset verwenden.
set userdata="user-data-reset"
source (tftp,${tftp_server})/grub/stacks/_ubuntu-install.cfg
