# PXE-ASSET: suse

if [ -z "${variant}" ]; then
    menuentry "Install SUSE" {
        linux /linux/suse/linux \
            netsetup=dhcp \
            install=http://${pxe_server}:${http_port}/linux/suse/current/
        initrd /linux/suse/initrd
    }
else
    menuentry "Install SUSE - AutoYaST ${variant}" {
        linux /linux/suse/linux \
            netsetup=dhcp \
            install=http://${pxe_server}:${http_port}/linux/suse/current/ \
            autoyast=http://${pxe_server}:${http_port}/autoyast/${variant}
        initrd /linux/suse/initrd
    }
fi
